.hero {
    position: relative;

    /* Set to the size of your image or as required */
    width: 100%;
    height: 80vh;
}

.hero h1 {
    color: transparent;
    top: 30%;

    /* Adjust as needed */
    left: 50%;

    /* Adjust as needed */
    transform: translate(-50%, -50%);

    /* Center the text */
    filter: url(#outline-shadow);
}

.hero p {
    top: 10%;

    /* Adjust as needed */
    left: 50%;

    /* Adjust as needed */
    transform: translate(-50%, -50%);

    /* Center the text */
    filter: url(#outline-shadow);
}

.classes-photos-container {
    height: 80vh;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.rental-card {
    height: 450px;
}

@media (min-width: 640px) {
    .rental-card {
        height: 600px;
    }
}

@media (min-width: 1024px) {
    .rental-card {
        height: 70vh;
    }
}